{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load admin_static %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{{ map.media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../">{%blocktrans%}Realestate{%endblocktrans%}</a> &rsaquo;
     <a href=".">{%blocktrans%}Realestates{%endblocktrans%}</a> &rsaquo;
     <span>{% blocktrans %}Filtered Realestates Map{% endblocktrans%}</span>
</div>
{% endif %}{% endblock %}


{% block content %}
<h1>{% blocktrans%}Filtered Realestates Map{% endblocktrans %}</h1>
<div id="content-main">
    <div class="module aligned">
        <div class="form-row">
            {{map}}
        </div>
    </div>    
</div>
{% endblock %}
